<div class="h-screen w-screen overflow-auto">
  <div class="flex flex-col w-full h-full">
    <div class="h-auto flex justify-between items-center py-[21px] border-b-2 border-b-gray-100">

      <div class="flex space-x-[40px] pl-[35px]">
        <img src="assets/logo.svg">
        <img src="assets/menu.svg">
      </div>

      <div class="items-center flex space-x-[11px] font-[700] pr-[100px]">
        <span class="text-[23px] p-[8px] bg-[#F6CA65] text-white rounded-[5px] leading-[26.95px]">{{user.firstName[0]}}{{user.lastName[0]}}</span>
        <span class="text-[16px] text-[#005B96] leading-[19px]">{{user.firstName}} {{user.lastName}}</span>
      </div>

    </div>
    <div class="grow w-full overflow-auto">
      <div class="flex flex-col w-full h-full">
       <div class="flex h-full">

         <div class="relative flex-none h-full pt-[41px] pl-[35px] pr-[40px]">
           <div class="w-[25.89px] space-y-[24px]">
             <img src="assets/analytics.svg">
             <img src="assets/dash.svg">
             <img src="assets/comp.svg">
             <img src="assets/chart.svg">
             <img src="assets/power.svg">
           </div>
         </div>

         <div class="grow overflow-auto">
           <div class="flex flex-col w-full h-full">

             <div class="flex h-auto justify-between w-full">
               <div class="mt-[35px] font-[700]">
                 <label class="block text-[#011F4B] text-[24px] leading-[28px]">Reports</label>
                 <span class="text-[#7E8299] text-[16px] leading-[19px] content">Easily generate a report of your transactions</span>
               </div>
               <div class="mr-[100px] mt-[33px] flex items-center space-x-[23px]">
                 <mvp-dropdown [data]="transformedProjectList" [(ngModel)]="filter.projectId" placeholder="Select project"></mvp-dropdown>
                 <mvp-dropdown [data]="transformedGatewaysList" [(ngModel)]="filter.gatewayId" placeholder="Select gateway"></mvp-dropdown>
                 <mvp-date-drop [(ngModel)]="filter.from" placeholder="From date"></mvp-date-drop>
                 <mvp-date-drop [(ngModel)]="filter.to" placeholder="To date"></mvp-date-drop>
                 <button (click)="getReport()" class="flex justify-center bg-[#005B96] text-white rounded-[5px] py-[8px] px-[12px]">
                   <span class="text-[14px] leading-[16px] font-[400]">Generate report</span>
                 </button>
               </div>
             </div>

             <div class="grow py-[27px] mr-[100px] overflow-auto">

               <ng-container *ngIf="initialReportData.length === 0">
                 <div class="flex flex-wrap content-center w-full h-full">
                   <div class="flex justify-center w-full">
                     <div class="font-[700] ">
                       <label class="text-[24px] mb-[4px] leading-[28px] text-center text-[#011F4B] block">No reports</label>
                       <p class="text-center text-[16px] leading-[19px] text-[#7E8299] w-[470px] mb-[51px]">
                         Currently you have no data for the reports to be generated.
                         Once you start generating traffic through the Balance application
                         the reports will be shown.
                       </p>
                       <img class="m-auto" src="assets/empty.svg">
                     </div>
                   </div>
                 </div>
               </ng-container>

               <ng-container *ngIf="initialReportData.length > 0">
                 <ng-container *ngIf="visibleAllProjectsGateways">
                   <mvp-all-projects-gateways [projects]="projects" [gateways]="gateways" [reports]="reports"></mvp-all-projects-gateways>
                 </ng-container>

                 <ng-container *ngIf="visibleAllProjectsGateway">
                   <mvp-all-projects-gateway [projects]="projects" [gateways]="gateways" [reports]="reports" [selectedGateway]="filter.gatewayId"></mvp-all-projects-gateway>
                 </ng-container>

                 <ng-container *ngIf="visibleOneProjectGateway">
                   <mvp-one-project-gateway [projects]="projects" [gateways]="gateways" [reports]="reports" [selectedProject]="filter.projectId" [selectedGateway]="filter.gatewayId"></mvp-one-project-gateway>
                 </ng-container>

                 <ng-container *ngIf="visibleOneProjectGateways">
                   <mvp-one-project-all-gateways [projects]="projects" [gateways]="gateways" [reports]="reports" [selectedProject]="filter.projectId"></mvp-one-project-all-gateways>
                 </ng-container>

               </ng-container>

             </div>
             <div class="h-auto w-full pb-[22px]">
               <label class="text-[16px] font-[700] leading-[19px] text-[#005B96] cursor-pointer">Terms&Conditions | Privacy policy</label>
             </div>
           </div>
         </div>
       </div>
      </div>
    </div>
  </div>
</div>
